@model Agencia.Models.ReservaHabitacion

@{
    ViewData["Title"] = "Details";
}

<h1 class="my-3">Detalles</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Hotel:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.miHabitacion.hotel.nombre)
        </dd>
        <dt class="col-sm-2">
            Habitación:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.miHabitacion.id)
        </dd>
        <dt class = "col-sm-2">
            Usuario:
        </dt>
        <dd class = "col-sm-10">
            @Model.miUsuario.nombre @Model.miUsuario.apellido
        </dd>
        <dt class = "col-sm-2">
            Desde:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaDesde)
        </dd>
        <dt class = "col-sm-2">
            Hasta:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaHasta)
        </dd>
        <dt class = "col-sm-2">
            Pago:
        </dt>
        <dd class = "col-sm-10">
            $ @Html.DisplayFor(model => model.pagado)
        </dd>
        <dt class = "col-sm-2">
            Cantidad de personas:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cantPersonas)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id" class="text-decoration-none">Editar</a> |
    <a asp-action="Index" class="text-decoration-none">Volver</a>
</div>
