@model IEnumerable<Agencia.Models.ReservaHabitacion>

@{
    ViewData["Title"] = "Index";

    int pageNo = 0;

    if (ViewBag.pager != null)
    {
        pageNo = ViewBag.pager.pagina;
    }
}

<div class="d-flex justify-content-between align-items-center my-5">
    <h1>Reservas de habitaciones</h1>
    <p>
        <a asp-action="Create" type="button" class="btn btn-success">Crear</a>
    </p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Hotel
            </th>
            <th>
                Habitación
            </th>
            <th>
                Usuario
            </th>
            <th>
                Desde
            </th>
            <th>
                Hasta
            </th>
            <th>
                Pago
            </th>
            <th>
                Cantidad de personas
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.miHabitacion.hotel.nombre)
                </td>
                <td>
                    @if (item.miHabitacion.capacidad == 2)
                    {
                        <text>Para dos personas</text>
                    }
                    else if (item.miHabitacion.capacidad == 4)
                    {
                        <text>Para cuatro personas</text>
                    }
                    else
                    {
                        <text>Para ocho personas</text>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.miUsuario.mail)
                </td>
                <td>
                    @item.fechaDesde.ToString("dd/MM/yy")
                </td>
                <td>
                    @item.fechaHasta.ToString("dd/MM/yy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pagado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cantPersonas)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.id" class="text-decoration-none">Detalles</a> |
                    <a asp-action="Edit" asp-route-id="@item.id" class="text-decoration-none">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.id" class="text-decoration-none">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="Paginador" model="@ViewBag.pager" />