@model Agencia.Models.Habitacion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Habitacion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.capacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.costo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.costo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hotel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hotel.nombre)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
