@model Agencia.Models.Vuelo

@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-3">Eliminar vuelo</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Origen:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.origen.nombre)
        </dd>
        <dt class = "col-sm-2">
            Destino:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.destino.nombre)
        </dd>
        <dt class = "col-sm-2">
            Capacidad:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.capacidad)
        </dd>
        <dt class = "col-sm-2">
            Asientos vendidos:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendido)
        </dd>
        <dt class = "col-sm-2">
            Costo:
        </dt>
        <dd class = "col-sm-10">
            $ @Html.DisplayFor(model => model.costo)
        </dd>
        <dt class = "col-sm-2">
            Fecha:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            Aerolínea:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.aerolinea)
        </dd>
        <dt class = "col-sm-2">
            Modelo de avión:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.avion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="text-decoration-none">Volver</a>
    </form>
</div>
