@model Agencia.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-3">Eliminar usuario</h1>

<h3>¿Está seguro de eliminar este usuario?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Dni:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.dni)
        </dd>
        <dt class="col-sm-2">
            Nombre:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class="col-sm-2">
            Apellido:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt class="col-sm-2">
            Correo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.mail)
        </dd>
        <dt class="col-sm-2">
            Intentos fallidos:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.intentosFallidos)
        </dd>
        <dt class="col-sm-2">
            Estado:
        </dt>
        <dd class="col-sm-10">
            @if (Model.bloqueado)
            {
                <text>Bloqueado</text>
            }
            else
            {
                <text>Activo</text>
            }
        </dd>
        <dt class="col-sm-2">
            Crédito:
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.credito)
        </dd>
        <dt class="col-sm-2">
            Administrador:
        </dt>
        <dd class="col-sm-10">
            @if (Model.isAdmin)
            {
                <text>Administrador</text>
            }
            else
            {
                <text>Común</text>
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="text-decoration-none">Volver</a>
    </form>
</div>
