@model Agencia.Models.ReservaVuelo

@{
    ViewData["Title"] = "Delete";
}

<h1 class="my-3">Eliminar reserva</h1>

<h3>¿Está seguro de eliminar esta reserva?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Vuelo:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.miVuelo.origen.nombre) - @Html.DisplayFor(model => model.miVuelo.destino.nombre)
        </dd>
        <dt class="col-sm-2">
            Usuario:
        </dt>
        <dd class="col-sm-10">
            @Model.miUsuario.nombre @Model.miUsuario.apellido
        </dd>
        <dt class="col-sm-2">
            Pago:
        </dt>
        <dd class="col-sm-10">
            $ @Html.DisplayFor(model => model.pagado)
        </dd>
        <dt class="col-sm-2">
            Cantidad de personas:
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.cantPersonas)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="text-decoration-none">Volver</a>
    </form>
</div>
